body {
    font-family: helvetica, 'Segoe UI', sans-serif;
    background: #002b36;
    color: white;
}
p {
    font-size: 35px;
}
.content-background {
    background: #04495b;
}
.quiz-header {
    text-align: center;
    line-height: 60px;
    height: 60px;
    border-radius: 4px;
    width: 100%;
}
.twenty-margin-top {
    margin-top: 20vh;
}
.ten-margin-top {
    margin-top: 10vh;
}
.twenty-margin-bottom {
    margin-bottom: 20vh;
}